@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
    background-color: #3c3c3c;
}

body.light {
    background-color: #ffffff;
}

.custom-white-text {
    color: #becbe4;
}

.custom-white-bg {
    background-color: #becbe4;
}

.custom-blue-text {
    color: #798cc6;
}

.custom-blue-bg {
    background-color: #5c6786;
}

@keyframes floatAnimation {
    0%,
    100% {
        transform: translateY(0) translateX(-50%);
    }
    50% {
        transform: translateY(-10px) translateX(-50%);
    }
}

.animate-floating {
    animation: floatAnimation 5s ease-in-out infinite;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #d9d9d9;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.custom-shadow {
    box-shadow: 0px 0px 21.2px 5px rgba(0, 0, 0, 0.25);
}

.triangle-custom-shadow {
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.mobile-choose-amount-shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.delayed-appear {
    opacity: 0;
    animation: appear 0.00001s forwards 0.5s;
}

.button-shadow {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
